<?xml version="1.0" encoding="UTF-8"?>
<beans
        xmlns="http://www.springframework.org/schema/beans"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns:p="http://www.springframework.org/schema/p"
        xmlns:aop="http://www.springframework.org/schema/aop"
        xsi:schemaLocation=
                "http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop-4.0.xsd
        ">
    <bean id="aspectBiz" class="xyy.java.note.spring.aop.AspectBiz"/>
    <bean id="xyyAspect" class="xyy.java.note.spring.aop.XyyAspect"/>

    <aop:config>
        <aop:aspect id="myAspcet" ref="xyyAspect">
            <aop:pointcut id="xyyPointCut" expression="execution(* xyy.java.note.spring.aop.*Biz.*(..))"/>
            <aop:before method="before" pointcut-ref="xyyPointCut"/>
        </aop:aspect>
    </aop:config>
</beans>